[submodule "lib/ranges-v3"]
	path = lib/ranges-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "lib/cppitertools"]
	path = lib/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
